* {font-family: sans-serif;}

#form {line-height: 2;}

#form input {margin-left: 25px;}

#form input[id="phone"] { margin-left: 10px;}

#form textarea {
  margin-left: 2px;
  margin-top: 10px;
}

.warning {
  color: red;
}



html {
  height: 100%;
}
body {
  margin:0;
  padding:20px;
  background: linear-gradient(white, #04bac4a4);
}

#submit {
  position: relative;
  top: 50%;
  left: 10%;
  width: 200px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

#submit {
  position: left;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

#submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

